<nav class="navbar navbar-expand-lg bg-info navbar-light justify-content-right">
        <ul class="navbar-nav">
            <li class="nav-item">
      
                <a class="navbar-brand" href="#" id="movie-style">
                    <h2 id="navbar-logo"> <img  id="image-head" src="https://cdn3.iconfinder.com/data/icons/investor-investing/278/investor-investment-investing-invest-009-512.png">
                        MONEYMART</h2>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
      
       <div class="top-right"> 
            <div class="dropdown">
                    <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      LOGIN AS
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <button class="btn btn-success dropdown-item" (click)='login()'><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRwn8YR0gg_wrH7UMkIz8cOBN0vfL5qYtzx8kUPQOvR1KVctXZ" id="customer-icon"> User</button>
                        <button class="btn btn-success dropdown-item" (click)='login()'><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRr6nFI-rZ7F2gW-fGEtZt7C5ZrLNkhv2zN5ytkNPp6Y9g7sFd_" id="admin-icon"> Admin</button>
                    </div>
            </div>
    </div>
</div>
</nav>
    <div class="container text-center mt-5">
            <h2 class="heading-style">Welcome To MoneyMart</h2>
            <div id="text">
                    <p>Always do a post-analysis of your stock market trades so that you can learn from your successes and mistakes.</p>
            </div>
     </div>
         
           