<nav class="navbar navbar-expand-lg bg-info navbar-light justify-content-right">
        <ul class="navbar-nav">
            <li class="nav-item">
      
                <a class="navbar-brand" href="#" id="movie-style">
                        <h2 id="navbar-logo"> <img  id="image-head" src="https://cdn3.iconfinder.com/data/icons/investor-investing/278/investor-investment-investing-invest-009-512.png">
                            MONEYMART</h2>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li> <button type="button" class="btn btn-info btn-lg" (click)="back()"><i class="fa fa-backward"aria-hidden="true"></i> BACK</button></li>
                <li> &nbsp;&nbsp;</li>
                <li><button type="button" class="btn btn-info btn-lg" (click)="logout()"><i class="fa fa-sign-in"aria-hidden="true"></i> LOGOUT</button></li>
                
            </ul>
        </div>
      
</nav>
    
<div class="container" id="container-login">
    <div class="form-row">
              
        <div class="form-group col-lg-5 col-md-12 col-sm-12 border">
            <h3 class="card-title mt-5 mb-3" align="center" id="signup-status"><i class="fas fa-lock lock"></i></h3>
                  
            <h4 class="card-title mb-4 mb-3" align="center" id="signup-status">WANT TO CHANGE PASSWORD ? ?</h4>
    
            <p class="card-title mb-4 mb-3" align="center">You can reset your password here.</p>
                  
                   
    
            <form [formGroup]="loginForm" (submit)="send(loginForm)">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-3">
                              <label for="pass" id="white-status">CURRENT PASSWORD : </label><span
                              id="red-status">*</span>
                            <input 
                                type="password" 
                                class="form-control mb-2" 
                                name="pass" 
                                id="pass"
                                placeholder="Enter Password" 
                                formControlName="currentPassword"
                            >
                            <div class="errorMessage"
                                *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                                <h6><i class="material-icons " href="#">error</i> Password is Required</h6>
                            </div>
                        </div>
                    </div>
      
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-3">
                                <label for="pass" id="white-status">NEW PASSWORD : </label><span
                                    id="red-status">*</span>
                                <input 
                                    type="password" 
                                    class="form-control mb-2" 
                                    name="pass" 
                                    id="pass"
                                    placeholder="Enter Password" 
                                    formControlName="password"
                                >
                                <div class="errorMessage"
                                  *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                                  <h6><i class="material-icons " href="#">error</i> Password is Required</h6>
                                </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-3">
                                <label for="confirmPassword" id="white-status">CONFIRM PASSWORD : </label><span
                                  id="red-status">*</span>
                                <input 
                                    type="password" 
                                    class="form-control mb-2" 
                                    id="confirmPassword" 
                                    name="confirm"
                                    placeholder="Confirm Password" 
                                    formControlName="confirmPassword"
                                >
                                <div class="errorMessage"
                                    *ngIf="!loginForm.get('confirmPassword').valid && loginForm.get('confirmPassword').touched;else elseBlockTwo">
                                    <h6><i class="material-icons " href="#">error</i> Confirm Password is Required</h6>
                               </div>
                                <ng-template #elseBlockTwo>
                                    <div class="errorMessage"
                                        *ngIf="loginForm.get('confirmPassword').value != loginForm.get('password').value && loginForm.get('confirmPassword').touched">
                                        <h6><i class="material-icons " href="#">error</i>Confirm Password does not match
                                            Password</h6>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
      
      
                        <div class="row">
                            <div class="col-sm-8 mb-3">
                                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-danger">CHANGE</button>
                            </div>
                        </div>
            </form>
        </div>
    </div>
</div>
